{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur notre site</h1>
        <div class="button-container">
            <a href="{{ path('product_list') }}" class="btn btn-liste">Liste des produits</a>
        </div>
    </div>
{% endblock %}
