{# templates/product/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <h1>Modifier le produit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('product_show', {'id': product.id}) }}">Retour au détail du produit</a>
{% endblock %}